/* Separaciones */
/* Globales */
html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*:after {
  box-sizing: inherit; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.7rem;
  line-height: 2; }

.centrar-texto {
  text-align: center;
  padding: 1em; }

.footer {
  background-color: #202c41; }

.descripcion-inicio {
  background-image: url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  padding-top: 25rem; }

.descripcion-inicio h1 {
  color: #ffffff;
  margin-top: 0; }

.imagen-contacto {
  background-image: url(../img/encuentra.jpg);
  background-position: center center;
  background-size: cover;
  height: 40rem;
  display: flex;
  align-items: center; }

.contenido-contacto {
  flex: 0 0 95%;
  color: #ffffff; }

.contenido-contacto p {
  font-size: 1.8rem; }

/* Anuncios */
.main {
  padding: 0.5em; }
  .main img {
    width: 100%; }
    @media (min-width: 480px) {
      .main img {
        max-width: 500px; } }
  @media (min-width: 1200px) {
    .main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem; } }
  .main .main__anuncios {
    border: 1px solid #202c41;
    background-color: #f5f5f5; }
    @media (min-width: 480px) {
      .main .main__anuncios {
        max-width: 500px;
        margin: auto;
        padding: 0.5em; } }
  @media (min-width: 1200px) {
    .main .main__anuncios:hover {
      transition: all 2s;
      transform: scale(1.1, 1.1); } }
  .main .precio {
    color: #0e3579;
    font-weight: 700; }
  .main .main__anuncios--margin {
    margin: 1em; }

.boton-propiedades {
  color: #ffffff;
  background-color: #0e3579;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  text-align: center;
  border: none;
  display: block;
  cursor: pointer; }
  @media (min-width: 480px) {
    .boton-propiedades {
      max-width: 500px; } }

.boton-propiedades:hover {
  border-radius: 10rem; }

.logo {
  background-color: #202c41; }

a:hover {
  color: #1f65e7 !important;
  transition: all 1s !important; }

.footer__copyright {
  color: gray;
  margin-bottom: 0;
  text-align: right; }

@media (min-width: 320px) {
  .formularioAnuncio {
    color: #4f4f4f; } }
  @media (min-width: 320px) and (min-width: 480px) {
    .formularioAnuncio {
      max-width: 600px;
      margin: auto;
      padding: 2em; } }

.formularioAnuncio label {
  font-weight: 700;
  display: block;
  font-size: 0.8em;
  text-transform: uppercase; }

.formularioAnuncio input,
.formularioAnuncio textarea {
  padding: 0.5rem;
  width: 100%;
  background-color: #e1e1e1;
  margin-bottom: 1rem;
  border: none;
  border-radius: 1rem; }

.formularioAnuncio textarea {
  height: 150px; }

@media (min-width: 1200px) {
  .centrar-boton {
    margin: auto;
    width: 100%; } }

.boton-anuncios {
  color: #ffffff;
  background-color: #0e3579;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  border: none;
  display: block;
  cursor: pointer; }

.direccion {
  font-size: 1.3em;
  font-weight: 700; }

@media (min-width: 1200px) {
  .verPublicacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    padding: 5em; } }

@media (min-width: 480px) {
  .textoLegend {
    font-size: 1em; } }

@media (min-width: 768px) {
  .textoLegend {
    font-size: 1.8em;
    font-weight: 700; } }

/* Nosotros */
@media (max-width: 640px) {
  .contenido-nosotros img {
    width: 100%; } }

@media (min-width: 1200px) {
  .contenido-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem; } }

.centrar-img {
  text-align: right; }

.texto-nosotros blockquote {
  font-weight: 900;
  font-size: 2.5rem;
  margin: 0;
  padding: 1rem 0 3rem 0; }

.nosotros-texto {
  padding: 1rem;
  font-size: 2rem; }

.seccion {
  padding: 4em; }
  @media (min-width: 768px) {
    .seccion .iconos-nosotros {
      display: flex;
      justify-content: space-between;
      margin: 2em; } }
  .seccion .icono {
    text-align: center; }
  .seccion .icono {
    flex-basis: calc(33.3% - 1rem); }
  .seccion .icono h3 {
    text-transform: uppercase; }

/*Contactos*/
@media (min-width: 320px) {
  .contacto {
    color: #4f4f4f;
    display: flex;
    flex-direction: column;
    margin: 0; } }
  @media (min-width: 320px) and (min-width: 480px) {
    .contacto {
      max-width: 600px;
      margin: auto;
      padding: 2em; } }
  @media (min-width: 320px) and (min-width: 1200px) {
    .contacto {
      max-width: 900px; } }

.contacto legend {
  font-size: 2rem;
  color: #4f4f4f; }

.contacto label {
  font-weight: 700;
  display: block;
  font-size: 1.2em;
  text-transform: uppercase; }

.contacto input,
.contacto textarea,
.contacto select {
  padding: 1.5rem;
  display: flex;
  width: 100%;
  background-color: #e1e1e1;
  margin-bottom: 2rem;
  border: none;
  border-radius: 1rem; }

.contacto select {
  -webkit-appearance: none;
  appearance: none; }

.contacto textarea {
  height: 150px; }

.contacto .terminos {
  text-align: center;
  font-size: 1em;
  text-transform: capitalize; }

@media (min-width: 1200px) {
  .centrar-boton {
    margin: auto;
    width: 100%; } }

.imagen-contacto {
  background-image: url(../img/contacto-anuncio.jpg);
  background-position: center center;
  background-size: cover;
  width: 100%; }
  .imagen-contacto .contenido-contacto {
    text-align: center; }
  .imagen-contacto .contenido-contacto p {
    font-size: 1.4em; }

/* BLOG */
@media (min-width: 1200px) {
  .blog {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%; } }

.blog .imagenBlog img {
  max-width: 100%;
  text-align: center; }

.blog .texto-blog a {
  text-decoration: none; }

.blog .texto-blog h4 {
  margin: 0;
  line-height: 1.4;
  color: #202c41; }

.blog .texto-blog h4::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.5rem;
  background-color: #202c41;
  margin-top: 10px; }

.blog .texto-blog span {
  color: #2a5aad; }

.social-bar {
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.icon {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  display: flex;
  transition: all .5s; }

.icon-facebook {
  background: #314a888a; }

.icon-twitter {
  background: #32a7d196; }

.icon-whatsapp {
  background: #35ac3596; }

.icon-instagram {
  background: #cc47098c; }

.icon:first-child {
  border-radius: 1rem 0 0 0; }

.icon:last-child {
  border-radius: 0 0 0 1rem; }

.icon:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42); }
