/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
 }
*,
*::before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.7rem;
    line-height: 2;
}
.centrar-texto {
    text-align: center;
}

.footer{
    background-color: $colorPrincipal;
    }
.descripcion-inicio {
    background-image: url(/img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;    
    width: 100%;
    padding-top: 25rem;
}
.descripcion-inicio h1 {
    color: $blanco;
    margin-top: 0;
}
