/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%;
 }
*,
*::before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.7rem;
    line-height: 2;
}
.centrar-texto {
    text-align: center;
    padding: 1em;
}

.footer{
    background-color: $colorPrincipal;
    }
.descripcion-inicio {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;    
    width: 100%;
    padding-top: 25rem;
}
.descripcion-inicio h1 {
    color: $blanco;
    margin-top: 0;
}

.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    flex: 0 0 95%;
    color: $blanco;
}

.contenido-contacto p {    
    font-size: 1.8rem;
}