/* Nosotros */
.contenido-nosotros {  
    @media (max-width: 640px) {
       img {
            width:100%;}
    }
    @include desktop {
    @include grid(2, $separacion);
}    

}
.centrar-img {
    text-align: right;
}
.texto-nosotros blockquote {  
    font-weight: 900;
    font-size: 2.5rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}
.nosotros-texto {
    padding: 1rem;
    font-size: 2rem;
    
}
.seccion {
    padding: 4em;

    .iconos-nosotros {
        @include tablet {
        display: flex;
        justify-content: space-between;
        margin: 2em; }
        
    }
    .icono {
        text-align: center;
    }
        .icono {
            flex-basis: calc(33.3% - 1rem);
        }

    .icono h3 {
        text-transform: uppercase;
    }
}